.content {
    text-align: left;
    margin-left: 12%;
}

.content .content-word {
    color: #3b80c7;
    font-weight: 700;
}

.content .content-word span {
    color: black;
}

.content .content-detail {
    color: #188b75;
    font-weight: 600;
    font-style: italic;
}